<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=Edge">
    <title>File sharing service</title>
    <link rel="stylesheet" type="text/css" href="/homepage_stl.css">
</head>
<body>
    <header>
        <a href="https://github.com/aftercraig" target="_blank">
            <img class="git-logo" src="/img/github.svg" alt="github" width="80px" height="80px">
        </a>
        <div class="logo-pacement">
            <a href="/views/homepage.ejs">
                <h1 class="logo">Turbobit</h1>
                <p class="underlogo">FILE SHARING SERVICE</p>
            </a>
        </div>
        <a href="./about.html" target="_self">
            <img class="qst-logo" src="/img/qstnew.svg" alt="about" width="80px" height="80px">
        </a>
    </header>
    <div class="main-block">
        <form class="form-placement" action="/upload" method="post" enctype="multipart/form-data">
            <label for="file">Загрузить файл:</label>
            <input type="file" id="file" name="file" required>
            <label for="password">Введите пароль:</label>
            <input type="password" id="password" name="password">
            <button type="submit">Загрузить</button>
        </form>
    </div>
    <footer>
        <h1 class="date">2023 (c)Aftercraig</h1>
    </footer>
</body>